<div class="options">
    <span class="option">Day: <select [(ngModel)]="date"><option *ngFor="let d of dates" value="{{d.toISOString()}}">{{d.format("MMM DD, YYYY")}}</option></select></span>
    <span class="go"><button id="go" (click)="reload_report()">Go</button></span>
</div>
<div class="error">{{error_message}}</div>
<section class="report" *ngIf="data != undefined">
    <h1>{{data.date.format("MMM DD, YYYY")}}</h1>
    <section id="present">
        <h1>Members Present</h1>
        <table class="present">
            <tr><th>Name</th></tr>
            <tr *ngFor="let m of data.members_present"><td>{{m.full_name}}</td></tr>
        </table>
    </section>
    <section id="visitors">
        <h1>Visitors</h1>
        <table class="visitors">
            <tr><th>Name</th><th>Phone</th><th>Email</th><th>Address</th><th># Present</th><th># Children</th></tr>
            <tr *ngFor="let v of data.visitors">
                <td class="name">{{v.name}}</td>
                <td class="phone">{{v.phone}}</td>
                <td class="email">{{v.email}}</td>
                <td class="address">
                    {{v.address}}
                    <br *ngIf="v.address != '' && v.address2 != ''">{{v.address2}}
                    <br *ngIf="(v.address != '' || v.address2 != '') && (v.city != '' || v.state != '')">
                    {{v.city}}<span *ngIf="v.city != '' || v.state != ''">, </span>{{v.state}}
                </td>
                <td class="number">{{v.number}}</td>
                <td class="num_children">{{v.num_children}}</td>
            </tr>
        </table>
    </section>
    <section id="absent">
        <h1>Members Absent</h1>
        <table>
            <tr><th>Name</th></tr>
            <tr *ngFor="let m of data.members_absent"><td>{{m.full_name}}</td></tr>
        </table>
    </section>
</section>
