<section id="visitor">
    <h1>Visitors</h1>
    <div class="entry-list">
        <div class="entry"><div class="label">Name:</div><div class="field"><input id="visitor-name" [(ngModel)]="visitor.name"></div></div>
        <div class="entry"><div class="label">Phone #:</div><div class="field"><input id="visitor-phone" type="tel" [(ngModel)]="visitor.phone"></div></div>
        <div class="entry"><div class="label">Email Address:</div><div class="field"><input id="visitor-email" type="email" [(ngModel)]="visitor.email"></div></div>
        <div class="entry"><div class="label">Address:</div><div class="field"><input id="visitor-address" [(ngModel)]="visitor.address"></div></div>
        <div class="entry"><div class="label"></div><div class="field"><input id="visitor-address2" [(ngModel)]="visitor.address2"></div></div>
        <div class="entry"><div class="label">City:</div><div class="field"><input id="visitor-city" [(ngModel)]="visitor.city"></div></div>
        <div class="entry"><div class="label">State:</div><div class="field"><input id="visitor-state" [(ngModel)]="visitor.state"></div></div>
        <div class="entry"><div class="label">Number in your party:</div><div class="field"><input id="visitor-number" type="number" [(ngModel)]="visitor.number"></div></div>
        <div class="entry"><div class="label">Number of children under 18:</div><div class="field"><input id="visitor-children" type="number" [(ngModel)]="visitor.num_children"></div></div>
    </div>
    <button id="visitor_checkin" (click)="checkin()">Sign In</button>
    <div class="error">{{error_message}}</div>
</section>
