/* You can add global styles to this file, and also import other style files */
#header: {
    clear: both;
    padding-right: 0;
    display: table;
    padding-bottom: 2em;
}
#header .row: {
    display: table-row;
}
#header .row .item {
    display: table-cell;
}
#header .item.title { width: 100%; }
#footer {
    clear: both;
    padding-right: 0;
    text-align: center;
    font-size: small;
    padding-top: 2em;
}
.finished #member { float: left; width: 45%; }
.finished #visitor {
    float: right;
    width: 50%;
    padding-left: 1em;
    border-left: 1px solid black;
}
.finished .entry-list { display: table }
.finished .entry { display: table-row }
.finished .label { display: table-cell }
.finished .field { display: table-cell; padding-bottom: 0.1em; }
